<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="config">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/board.css}">
    <script src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="wrap">

    <header th:replace="fragments/header :: copy"></header>
    <section class="vh-100" style="background-color: #eee;">
        <div layout:fragment="content"></div>
    </section>
    <footer th:replace="fragments/footer :: copy"></footer>

</div>
</body>

</html>