<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/defaultLayout}">

<div layout:fragment="content">
    <h5>제목</h5>
    <h2 th:text="${post.title}"></h2>

    <h5>내용</h5>
    <h3 th:text="${post.content}"></h3>

    <table class="table">
        <tbody>
        <tr th:each="comment : ${commentList}">
            <td th:text="${comment.content}"></td>
            <td th:text="${comment.author.nickname}"></td>
            <td th:text="${#temporals.format(comment.regidate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{|/board/free/cmtcreate/${post.id}|}" method="post" sec:authorize="isAuthenticated()" >
        <div class="mb-3">
            <label for="content" class="form-label">댓글</label>
            <textarea name="content" id="content" class="form-control" rows="2"></textarea>
        </div>
        <input type="submit" value="댓글달기" class="btn btn-primary my-2">
    </form>
</div>
</html>